<div class="container" id="cont-port"></div>
 
<div class="port">
  <div class="images">
    <div class="img-row">
      <a href="#">
        <div class="img-port">
          <%= image_tag 'p1.jpg' %>
          <h3></h3>
          <p></p>
        </div>
      </a>
      <a href="#">
        <div class="img-port">
          <%= image_tag 'p2.jpg' %>
          <h3></h3>
          <p></p>
        </div>
      </a>
    </div>
    
    <div class="img-row">
      <a href="#">
        <div class="img-port">
          <%= image_tag 'p3.jpg' %>
          <h3></h3>
          <p></p>
        </div>
      </a>
      <a href="#">
        <div class="img-port">
          <%= image_tag 'p4.jpg' %>
          <h3></h3>
          <p></p>
        </div>
      </a>
    </div>
      
    <div class="img-row">
      <a href="#">
        <div class="img-port">
          <%= image_tag 'p5.jpg' %>
          <h3></h3>
          <p></p>
        </div>
      </a>
      <a href="#">
        <div class="img-port">
          <%= image_tag 'p6.jpg' %>
          <h3></h3>
          <p></p>
        </div>
      </a>
    </div>
  </div>
</div>